# For Loop

In [25]:
print("Gulshan Ali")
print("Gulshan Ali")
print("Gulshan Ali")
print("Gulshan Ali")

Gulshan Ali
Gulshan Ali
Gulshan Ali
Gulshan Ali

In [5]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [7]:
for number in range(2,10): #start from 2
    print(number)

2
3
4
5
6
7
8
9

In [10]:
for number in range(1,11,3): #start from index 1 to 10 taking steps 3
    print(number)

1
4
7
10

In [11]:
for number in range(11,1,-3): #revese step
    print(number)

11
8
5
2

In [12]:
cities=['Peshawar', 'Karachi',"Multan"]
cities

['Peshawar', 'Karachi', 'Multan']

In [13]:
for city in cities:
    print(city)

Peshawar
Karachi
Multan

In [16]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is Peshawar
The city under consideration is Karachi
The city under consideration is Multan

In [20]:
for city in cities:
    print("The city under consideration is ",city)

The city under consideration is  Peshawar
The city under consideration is  Karachi
The city under consideration is  Multan

In [21]:
for num in [111,222,333,444]:
    print(num)

111
222
333
444

In [22]:
country = "Pakistan"

for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [23]:
country = "Pakistan"

for a in country:
    print(a)

P
a
k
i
s
t
a
n

In [24]:
country = "Pakistan","Iran" #if value greater than 1 then it become tupple so it will take whole value as one char

for char in country:
    print(char)

Pakistan
Iran

# for loop's break and continue

In [26]:
for number in range(10):
    if number%3==1:
        break
    print(number)

0

In [27]:
for number in range(10):
    if number%3==0:
        break
    print(number)

In [28]:
for number in range(10):
    if number%3!=0:
        break
    print(number)

0

In [29]:
for number in [3,7,9,80]:
    if number%2==0:
        break
    print(number)

3
7
9

In [30]:
for number in [3,7,10,11,13,80]: #it breaks when reached value 10, as it results 0 when devides by 2 
    if number%2==0:
        break
    print(number)

3
7

In [31]:
for num in range(10):
    if num==7:
        continue # value 7 not printed as num reach value 7 it skip as last value do not printed so loop continue from next value
    print(num)

0
1
2
3
4
5
6
8
9

In [32]:
for num in range(10):
    if num==4 or num==6:
        continue 
    print(num)

0
1
2
3
5
7
8
9

# Nested For Loop

In [2]:
for a in range(6):
    print("Inner loop begains") #outer loop execute after the complete execution of inner loop
    for char in "Pak": 
        print(a, char)

Inner loop begains
0 P
0 a
0 k
Inner loop begains
1 P
1 a
1 k
Inner loop begains
2 P
2 a
2 k
Inner loop begains
3 P
3 a
3 k
Inner loop begains
4 P
4 a
4 k
Inner loop begains
5 P
5 a
5 k

In [5]:
tableNum = int(input("Input Table Number "))
for a in range(1,11):
    print(f"{tableNum} * {a} = {tableNum*a}")

Input a Table Number 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [12]:
tables = int(input("enter the range of tables "))
for a in range(1,11):
    for tables in range(1,tables+1):
        print(f"{tables} * {a} = {tables*a}" )

enter the range of tables 2
1 * 1 = 1
2 * 1 = 2
1 * 2 = 2
2 * 2 = 4
1 * 3 = 3
2 * 3 = 6
1 * 4 = 4
2 * 4 = 8
1 * 5 = 5
2 * 5 = 10
1 * 6 = 6
2 * 6 = 12
1 * 7 = 7
2 * 7 = 14
1 * 8 = 8
2 * 8 = 16
1 * 9 = 9
2 * 9 = 18
1 * 10 = 10
2 * 10 = 20

In [16]:
tables = int(input("Enter numbers of table range required "))
for tables in range(2,tables+1):
    for num in range(1,11):
        print(f"{tables} * {num} = {tables*num}")

Enter numbers of table range required 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### Type Casting

In [18]:
userInput = input("Input something ")

Input something 2

In [19]:
userInput = input("Input something ")
type(userInput) #by default input console always return str data type

Input something 3

str

In [24]:
userInput = input("Input something ")
type(userInput)

Input something Aslam

str

In [22]:
userInput = int(input("input something ")) #we performed type casting for getting integer data type
type(userInput)

input something 4

int

In [23]:
userInput = int(input("input something ")) #here after type casting into int, if input any str then error generated 
type(userInput)

input something aslam

ValueError: invalid literal for int() with base 10: 'aslam'

In [26]:
float(4) #int can be converted into float data type after casting

4.0

In [28]:
userInput = float(input("input something ")) #we performed type casting for getting float data type
type(userInput)

input something 2.3

float

# Changing Case of String

In [1]:
type("I am a string")

str

In [3]:
name = "Gulshan Ali"
type(name)

str

In [6]:
name.upper()

'GULSHAN ALI'

In [7]:
name.lower()

'gulshan ali'

In [9]:
name = "GULSHAN ALI"
name.title() #itcoverts string in title form that is first later of evrey world will be capital

'Gulshan Ali'

In [16]:
text = input("Enter a Letter: ").lower() 
print (text)

Enter a Letter: ASD
asd

In [20]:
text = input("Enter a Letter: ")
text.lower()

Enter a Letter: AS

'as'

In [21]:
text = input("Enter a Letter: ")
text.lower() 
print(text)

Enter a Letter: AC
AC